/* Setup and basic styling */
* {
    box-sizing: border-box;
}
body {
    background-color: #69b1d3;
    padding: 0px;
    margin: 0px
}
h1 {
    background-image: linear-gradient(#7d2591, #4C1A57);
    background-clip: text;
    color: transparent;
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    text-align: center;
    padding: 20px;
}
h2 {
    color: #10661d;
    font-family: "Lato";
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    padding: 20px;
}
h3 {
    color: #10661d;
    font-family: "Lato";
    font-weight: 700;
    font-style: italic;
    font-size: 18px;
    padding: 10px;
}
p {
    color: #2A2D43;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    padding: 10px;
}
a {
    color: #7d2591;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
    padding: 10px;
}
.top-banner {
    background-color: rgb(200, 227, 251);
    border-radius: 20px;
    margin: 20px;
    box-shadow: #395563 10px -10px 6px;
}
.header {
    background-image: linear-gradient(#3b6478 0%, #3b6478 10%, #69b1d3)
}
.flex-container {
    display: flex;
    flex-flow: row wrap;
    gap: 10px 20px;
  }
.flex-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: rgb(200, 227, 251);
    margin: 10px;
    border-radius: 20px;
    box-shadow: #395563 10px -10px 6px;
  }
  .img-gallery {
    background-color: #395563;
    border-radius: 20px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 20px;
  }
  /* might not actually use this one */
  .img-gallery h3 {
    color:#69b1d3;
  }
  .img-gallery img {
    background-color: #69b1d3;
  }
  .infobox {
    background-color: #3b6478;
    border: 10px solid #2A2D43;
    border-radius: 10px;
    margin: 10px;
  }
  .infobox a {
    color:#69b1d3
  }